/* Full-page background image styling with upper part focus */
.full-page-image {
    background-image: url('images/belgianwaffles.jpg'); /* Path to the image */
    background-size: cover; /* Ensure the image covers the entire screen */
    background-position: top; /* Show more of the upper part of the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
    position: relative;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 50px 40px 20px 37px;
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
}

/* Overlay text box styling */
.overlay-text {
    position: absolute;
    font-size: 79px;
    background-color: #F1ABAD;
    left: 600px;
    bottom: 134px;
}
.full-page-image .overlay-text {
}
.full-page-image .overlay-text {
    padding-top: 50px;
    padding-left: 20px;
    padding-bottom: 30px;
    padding-right: 10px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    border-radius: 20px 30px 100px 5px;
    font-size: 65px;
}
